.container {
    background-image: url('https://i.pinimg.com/originals/8d/f8/47/8df847c2d6ca10137a0da48af067f107.gif');
    padding: 1%;
    top: 0px;
    transition: all 0.3s;
}
.nav:hover{
    width: 100%
}